@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-playfair;
    }
}

/* Scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #d6eaf4 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #d6eaf4;
  border-radius: 4px;
}


/* Optimizaciones para animaciones */
* {
  box-sizing: border-box;
}

/* Mejorar el rendimiento de las animaciones */
.motion-safe\:animate-none {
  animation: none;
}

/* Asegurar que las animaciones funcionen correctamente */
.motion-reduce\:animate-none {
  animation: none;
}

/* Optimizaciones para Framer Motion */
[data-framer-motion] {
  will-change: transform, opacity;
}

/* Oculta la barra superior de Google Translate */
.goog-te-banner-frame {
    display: none !important;
}
  
/* Asegurar que el body no se empuje hacia abajo */
body {
    top: 0px !important;
}
  
/* Oculta cualquier iframe de Google Translate que aparezca */
iframe.skiptranslate {
    display: none !important;
}
